@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Dosis&family=Fugaz+One&family=Gochi+Hand&family=Inder&family=Inter:wght@400;700&family=Jaldi&family=Manrope:wght@800&family=Nunito&family=Orelega+One&family=Philosopher&family=Poor+Story&family=Prompt&family=Quattrocento&family=Roboto:wght@300;400&family=Rubik+Dirt&family=Source+Sans+Pro&family=Space+Mono&family=Special+Elite&display=swap');

.primary-font-color {
  color: var(--primary-font-color);
}

.nav-bg-color {
  background-color: var(--nav-bg-color);
  transition: all 0.3s ease-in;
}

.function-name {
  position: relative;
  text-align: center;
  transition: all .4s ease-out;
}

.function-name:hover,
.function-name:focus {
  flex-grow: 1;
}

.function-name .argument {
  opacity: 0;
  transition: .1s ease-in;
}

.function-name:hover .argument {
  opacity: 1;
  transition: .1s ease-in .4s;
}

.function-name .r-parenthesis {
  position: absolute;
  transform: translateX(-1.5rem);
  transition: .4s ease-out .2s;
}

.function-name:hover .r-parenthesis {
  transform: translateX(0);
}

.function-name .r-parenthesis-flow {
  position: absolute;
  transform: translateX(-3rem);
  transition: .4s ease-out .2s;
}

.function-name:hover .r-parenthesis-flow {
  transform: translateX(0);
}

.function-name .r-parenthesis-modal {
  position: absolute;
  transform: translateX(-3em);
  transition: .4s ease-out .2s;
}

.function-name:hover .r-parenthesis-modal {
  transform: translateX(0);
}

.function-name .r-parenthesis-links {
  position: absolute;
  transform: translateX(-3em);
  transition: .4s ease-out .2s;
}

.function-name:hover .r-parenthesis-links {
  transform: translateX(0);
}

.function-name .r-parenthesis-projects {
  position: absolute;
  transform: translateX(-2.4em);
  transition: .4s ease-out .2s;
}

.function-name:hover .r-parenthesis-projects {
  transform: translateX(0);
}

.function-name .r-parenthesis-email {
  position: absolute;
  transform: translateX(-3em);
  transition: .4s ease-out .2s;
}

.function-name:hover .r-parenthesis-email {
  transform: translateX(0);
}

#nav {
  margin: 0 auto;
}

#nav a,
#nav button {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;
}

#resume img {
  max-width: 60rem;
  height: auto;
}

.close-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
}

.close-icon-line {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 2px;
  background: var(--secondary-font-color);
  transition: transform 0.3s ease;
}

.close-icon-line:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-icon-line:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Circle */
.close-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: transparent;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  transform: translate(-50%, -50%);
}

/* Show circle on hover */
.close-icon:hover::before {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}


/* Handle Nav Item Container width at various screen sizes */

@media screen and (min-width: 1024px) {
  .nav-items-container {
    width: 85%;
  }
}

@media screen and (min-width: 1280px) {
  .nav-items-container {
    width: 75%;
  }
}

@media screen and (min-width: 1440px) {
  .nav-items-container{
    width: 65%;
  }
}

@media screen and (min-width: 1920px) {
  .nav-items-container {
    width: 40%;
  }
}
