@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Dosis&family=Fugaz+One&family=Gochi+Hand&family=Inder&family=Inter:wght@400;700&family=Jaldi&family=Major+Mono+Display&family=Manrope:wght@800&family=Nunito&family=Orelega+One&family=Philosopher&family=Poor+Story&family=Prompt&family=Quattrocento&family=Roboto:wght@300;400;700&family=Rubik+Dirt&family=Single+Day&family=Space+Mono&family=Special+Elite&display=swap');

:root {
  --body-bg-color: rgb(0, 0, 9);
  --nav-bg-color: #000000f1;
  --footer-bg-color: #000;
  --light-neon-blue: #59f8e8;
  --single-day: 'Single Day', cursive, sans-serif;
  --major-mono-display: 'Major Mono Display', monospace;
  --ibm-plex-mono: 'IBM Plex Mono', monospace;
  --secondary-font-color: rgb(0, 255, 51);
  --primary-font-color: rgb(174, 180, 187);
  --link-color: rgb(0, 255, 51);
  --primary-border-color: rgb(174, 180, 187);
}

.dark-mode {
  --body-bg-color: rgb(0, 0, 9);
  --nav-bg-color: rgba(0, 0, 0, 0.945);
  --footer-bg-color: #000;
  --secondary-font-color: rgb(0, 255, 51);
  --primary-font-color: rgb(174, 180, 187);
  --link-color: rgb(0, 255, 51);
  --primary-border-color: rgb(174, 180, 187);
  transition: all 0.5s linear;
}

.light-mode {
  --body-bg-color: #ffffff;
  --nav-bg-color: rgba(245, 243, 244, 0.945);
  --footer-bg-color: #f5f3f4;
  --secondary-font-color: #d00000;
  --primary-font-color: #161a1d;
  --link-color: #d00000;
  --primary-border-color: #fff;
  transition: all 0.5s linear;
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

/* min body height */
body {
  min-height: 100svh;
  background-color: var(--body-bg-color);
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  /* smooth scrolling */
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
}